<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @talent.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @talent.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @talent.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @talent.last_name %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @talent.biography %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @talent.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @talent.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @talent.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @talent.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @talent.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @talent.zipcode %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @talent.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @talent.birthday %>
</p>

<p>
  <strong>Government:</strong>
  <%= @talent.government_id %>
</p>

<p>
  <strong>Topsuit:</strong>
  <%= @talent.topsuit %>
</p>

<p>
  <strong>Waisthip:</strong>
  <%= @talent.waisthip %>
</p>

<p>
  <strong>Pantlength:</strong>
  <%= @talent.pantlength %>
</p>

<p>
  <strong>Eyecolor:</strong>
  <%= @talent.eyecolor %>
</p>

<p>
  <strong>Has visible tattoo:</strong>
  <%= @talent.has_visible_tattoo %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @talent.booking %>
</p>

<%= link_to 'Edit', edit_talent_path(@talent) %> |
<%= link_to 'Back', talents_path %>
